.gauge-container > .gauge > .dial {
  stroke-width: 10;
  stroke-linecap: round;
}

.gauge-container > .gauge > .value {
  stroke-width: 10;
  stroke-linecap: round;
}

.gauge-container {
  height: 300px;
  width: 300px;
}

@media screen and (min-width: 600px) {
  .gauge-container {
    height: 500px;
    width: 500px;
  }
}
